@import url('../global/global.css');

/* mobile */
@import url('../devices/mobile/mobile.css') (max-width: 399px);

/* tablet */
@import url('../devices/tablet/tablet.css') (min-width: 400px);

/* desktop */
@import url('../devices/desktop/desktop.css') (min-width: 900px);