.switch-label{
    display: none;
  }

  .header-content,
  .top,
  .nav, ul{
      display: flex;
      justify-content: center;
    align-items: center;
  }
 
.header{
    height: 100vh;
    background: #2C6269;
  }

  .header-content > h1 {
    font-size: 4rem;
    margin: 0 0 0 125px;
  }
  .header-content >  div{
      padding: 0 50px 0 100px;
  }

   .img-1,
   .img-2{
      position: absolute;
  }
  
  .img-1{
      left: -8%;
  }
  .img-2{
      bottom: 0%;
      right: 10%;
  }

.first-sec{
    background: #014E56;
    height: 100vh;
    align-items: center;
}

.first-sec,
.content,
.second-sec,
.profiles{
    display: flex;
}

.content{
    flex-direction: column;
}

.second-sec{
    height: 100vh;
    background:#2c6269e8;
    flex-wrap: wrap;
    justify-content: center;
}

.profiles{
    flex-direction: row;
}

.pre-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30vh;
    background:#F67E7E;
}

.pre-footer > a{
    padding: 0 30px 0 0;
}

footer{
    background:#014E56;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

