.switch-label{
    display: none;
  }

  .header-content,
  .top,
  .nav, ul{
      display: flex;
      justify-content: center;
    align-items: center;
  }
 
  .top{
    height: 100px;
  }

.header{
    height: 100vh;
    background: #2c6269e8;
    color: white;
  }

.nav > ul > li {
    padding: 0 10px 0 10px;
}

  .contact{
    border: solid 2px white;
    border-radius: 50px;
    padding: 10px;
    margin: 0 0 0 430px;
    text-transform: uppercase;
    font-weight: bold;
  }

  .header-content > h1 {
    font-size: 4rem;
    margin: 0 0 0 125px;
  }

  .header-content > h1 > span{
      color: #F67E7E;;
  }

  .header-content >  div{
      padding: 0 50px 0 100px;
  }
    /* manejo de imagenes */
   .img-1,
   .img-2,
   .img-3,
   .img-4,
   .img-5{
      position: absolute;
  }
  
  .img-1{
      left: -8%;
  }
  .img-2{
      bottom: 0%;
      right: 10%;
  }

  .img-3{
      right: -8%;
      bottom: -146%;
    }

    .img-4{
        top: 246%;
        left:-1%;
    }

    .img-5{
        right: -1%;
        top: 384.2%
    }
/* manejo de imagenes */
.first-sec{
    background: #014d56e1;
    height: 100vh;
    align-items: center;
    padding: 140px;
}

.first-sec,
.content,
.second-sec,
.profiles{
    display: flex;
}

.first-sec > h2,
.info > p{
    color: white;
}

.first-sec > h2{
    font-size: 3rem;
}

.info > h4{
    color: #F67E7E;
}

.content{
    flex-direction: column;
}

.second-sec{
    height: 145vh;
    background:#2c6269e8;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
}

.second-sec > h2{
    text-align: center;
    font-size: 3rem;
    padding: 30px 150px 30px 150px;
}
.second-sec > h2 > span{
    color: #6db9b8;
}

.second-sec > h2,
.profile > p{
    color: white;
}

.profiles{
    flex-direction: row;
}

.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.profile > .quote{
    position: absolute;
    z-index: -1;
}

.profile > .prof{
    border: solid 1px white;
    border-radius: 100%;
}

.profile > h3{
    color: #6db9b8;
}

.pre-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30vh;
    background:#F67E7E;
}

.pre-footer > h2 {
    margin: 0 0 0 100px;
}

.pre-footer > a{
    border: solid 1px black;
    border-radius: 50px;
    padding: 10px;
    margin: 0 100px 0 0;
    text-transform: uppercase;
    font-weight: bold;
}

footer{
    background:#014E56;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    color: white;
}

.rigth-footer {   
display: flex;
align-items: flex-end;
flex-direction: column;
justify-content: center;
}