@import url("https://fonts.googleapis.com/css2?family=Livvic:wght@600;700&display=swap");

:root {
    --primary-ligth: #7dc3c5;
    --primary: #2c6269;
    --primary-dark: #002528;
    --seconday: #f67e7f;
    --white: #fff;
    --black: #000;
    --gray-light: #bbbbbb;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --light: #f8f9fa;
    --dark: #212529;
    --directors: #014047;
}

html,
body {
padding: 0;
margin: 0;
font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
a {
color: inherit;
text-decoration: none;
}
* {
box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: var(--primary);
}

.header li,a,button {
    font-weight: 600;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.logo {
    cursor: pointer;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
}

button {
    padding: 9px 25px;
    border: 2px solid white;
    border-radius: 50px;
    background-color: var(--primary);
    cursor: pointer;
}

.about {
    background-color: #2c6269;;
    height: 30vh;
    columns: 2;
}

.about h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 40px;
}

.about p {
    display: flex;
    justify-content: left;
    align-items: center;
    color: white;
    padding: 15% 0;
}

.directors {
    background-color: var(--directors);
}

.separator {
    height: 10vh;
}

.directors h1 {
    display: flex;
    justify-content: center;
    align-self: center;
    color: white;
    font-size: 44px;
    margin-top: -5px;
}

.profilepic {
    border-radius: 50%;
    border: 2px solid white;
    margin-top: 20px;
}

.images {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
}

.image1 {
    width: 430px;
    height: 395px;
    overflow: hidden;
    margin: 20px;
    text-align: center;
    background-color: var(--primary-dark);
}

.image1 h4 {
    color: var(--primary-ligth);
    font-size: 22px;
    margin-top: 10px;
}

.image1 p {
    color: white;
    font-size: 14px;
    margin-top: -15px;
}

.crossbtn {
    border-radius: 50%;
    z-index: 1;
    position: absolute;
    margin-left: -20px;
    background-color: var(--seconday);
    border: 14px solid var(--seconday);
}

.carousel {
    background-color: var(--primary-dark);
    color: white;
    height: 45vh;
    
}

.separator2 {
    height: 10px;
}

.carousel h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 55px;
    margin-bottom: 30px;
}